
.skills__list{
    flex: 4;
}

.skills__list .skills__icon{
    font-size: 2rem;
}

.lists{
    display: flex;
    flex-wrap: wrap; 
    gap: 20px;
}

.list2{
    display: flex; 
    flex-wrap: wrap;
    align-items: center;
    gap: 3rem;
}

.skills__list li{
    margin-right: 1rem;
    font-weight: 400;
    list-style-type: none;
    display: flex;
    align-items: center;
    gap: 10px;
}

.bigList{
    font-size: 1.5rem;
}

.smallList{
    font-size: 1rem;
}

@media screen and (max-width: 600px){
    .bigList{
        font-size: 1rem;
    }
}

@media screen and (max-width: 500px){
    .list2{
        gap: 20px;
    }
}