.skills__icon{
    background-color: rgba(24, 24, 24, 0.6);
    height: 3rem;
    width: 3rem;
    border-radius: 10px;

    display: flex;
    align-items: center;
    justify-content: center;
}

.skills__icon  p{
    font-size: 1.6rem;
    color: white;
}

@media screen and (max-width: 450px){
    .skills__icon p{
        font-size: 1.3rem;
    }
}