.about{
    background-color: var(--color-blue);
    color: white;

    padding: 5rem 0;
}

.about__content{
    max-width: 70%;
    margin: 0 auto;
    margin-bottom: 1rem;

    display: flex;
    align-items: flex-start;
    animation: fadeIn 2s forwards;
}

  .about__me{
    flex: .6;
}

.about__me p{
    margin-bottom: 1.5rem;
    font-size: 1rem;
    font-weight: 300;
    line-height: 25px;
}

@media screen and (max-width: 1020px){
    .about__content{
        max-width: 80%;
    }
}

@media screen and (max-width: 965px){
    .about__content{
        flex-direction: column;
        gap: 2rem;
    }
}

@media screen and (max-width: 460px){
    .about__me p{
        font-size: .9rem;
    }
}